$colors: (
  background: #E0E0F0,
  primary: #F5F5F5,
  accent: #FFF6BB,
  dark-green: #00b300,
  link-color: #30306d,
  visited_link_color: #803030,
  white: #FFFFFF
);


body {
  margin: 0px;
}

.header {
  border:1px solid #ccc;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  background: map-get($colors, primary);
  text-align: center;
  padding: 15px;
}

.welcome_msg {
  float: left;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  font-size: 20px;
}

div#login_status {
  float: right;
  padding-right: 25px;
  text-align: left;
  font-size: 20px;
}

.content{
  margin: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
  outline: 0px;
  // background-color: map-get($colors, background);
}

button {
    font-family: 'Montserrat';
    background-color: map-get($colors, primary);
    font-size: 1em;
    border-radius: 2px;
    border: none;
}

input {
  font-family: 'Montserrat';
  background-color: map-get($colors, primary);
  font-size: 15px;
  // border-radius: 2px;
  border: none;
}

input#login {
  font-size: 20px;
}

input#search {
  background-color: map-get($colors, white);
}

form {
  margin-block-end: 0em;
}

.btn:hover {
  cursor: pointer;
  shadow: 2px 2px;
  background-color: #F89900;
}

a {
  text-decoration: none;
  color: map-get($colors, link-color);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: map-get($colors, visited_link_color)
}

p#introduction {
    font-family: 'Montserrat';
    text-align: center;
    background-color: map-get($colors, primary);
    border-radius: 2px;
}

.side_left {
  width: 375px;
  height: 50px;
  padding-right: 1px;
  float: left;
  background-color: map-get($colors, primary);
}

.side_right {
  width: 375px;
  height: 50px;
  float: right;
  border-radius: 2px;
  background-color: map-get($colors, primary);
}


form#login_form {
  font-size: 20px;
}

ul {
  list-style-type: none;
}
