{% extends 'argot/default_header.html' %}

{% block content %}

<h1>Create a name for your word list</h1>
<form method='POST' action="{% url 'dictionary:create_word_list' %}">
  {% csrf_token %}
  <div>
    <input name='list_name' class='box_left' placeholder='List Name' maxlength="50"></input>
    <p>&nbsp</p>
    <div class='input_description'>
      Word lists can have up to 50 characters!
    </div>
      <div class='checkbox'>Make List Public:
        <input type="checkbox" name="is_public">
      </div>
  </div>
  <p></p>
  <input class='btn' type="submit" value='Create List'/>
 </form>
 {% endblock %}
