{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'dictionary/style.css' %}">


<h1>{{ word }}</h1>
<ul>
{% for formword in word.formword_set.all %}
    <h2>{{ formword.pos }}</h2>
    {% for def in formword.worddefinition_set.all %}
      <li>{{ def.definition }}</li>
    {% endfor %}
{% endfor %}
</ul>
{% if word.synonym_set.all %}
  <ul>Synonyms:</ul>
  {% for synonym in word.synonym_set.all %}
    <li><a href='/dictionary/{{synonym.synonym.base_word.id}}'>{{synonym.synonym.name}}</a></li>
  {% endfor %}
  <p></p>
{% endif %}
{% if word.antonym_set.all %}
  <ul>Antonyms:</ul>
  {% for antonym in word.antonym_set.all %}
    <li><a href='/dictionary/{{antonym.antonym.base_word.id}}'>{{antonym.antonym.name}}</a></li>
  {% endfor %}
  <p></p>
{% endif %}
<a href='/'><button>Back to Home</button></a>
