{% extends 'argot/default_header.html' %}

{% block content %}

<h1>{{ word }}</h1>
<ul>
{% for formword in word.formword_set.all %}
    <li class='pos_header'>{{ formword.pos }}</li>
    {% for def in formword.worddefinition_set.all %}
      <li>{{ def.definition }}</li>
    {% endfor %}
    <br></br>
{% endfor %}
</ul>
{% if word.synonym_set.all %}
  <ul><strong>Synonyms:</strong></ul>
  {% for synonym in word.synonym_set.all %}
    <li><a href='/dictionary/{{synonym.synonym.base_word.id}}'>{{synonym.synonym.name}}</a></li>
  {% endfor %}
  <p></p>
{% endif %}
{% if word.antonym_set.all %}
  <ul><strong>Antonyms:</strong></ul>
  {% for antonym in word.antonym_set.all %}
    <li><a href='/dictionary/{{antonym.antonym.base_word.id}}'>{{antonym.antonym.name}}</a></li>
  {% endfor %}
  <p></p>
{% endif %}
<a href='/'><button class='btn'>Back to Home</button></a>
{% endblock %}
