{% extends 'argot/default_header.html' %}

{% block content %}

List Name: {{ word_list.list_name }}
<p></p>
List Owner: {{word_list.user.username}}
{% if word_list.wordlistentry_set.all %}
<p>Words:</p>
<ul>
{% for word in word_list.wordlistentry_set.all %}
  <li><a href="/dictionary/{{ word.word.id }}/">{{ word.word }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>This list is currently empty!</p>
{% endif %}
<p></p>
{% if request.user == word_list.user %}
<form method='POST' action="{% url 'dictionary:add_words_to_word_list' word_list.id %}">
  {% csrf_token %}
  {{ form.search_term }}Add word to your list: <input type="text" name='search_term'>
  <input type="submit" class='btn' value='Add Word'>
 </form>
 {% endif %}
<p></p>
<a href='/dictionary/word_list/{{word_list.id}}/play_game'><button class='side_left btn'>Practice This List</button></a>
<p></p>
{% if request.user == word_list.user %}
<a href='/dictionary/word_list/{{word_list.id}}/edit_list'><button class='side_right btn'>Edit List</button></a>
{% endif %}
<p>&nbsp;</p>
<p>&nbsp;</p>
<a href='/'><button class='btn side_left'>Home</button></a>
<p></p>
{% if request.user == word_list.user %}
<a href='/dictionary/word_list/view_user_word_lists'><button class='btn side_right'>View Your Word Lists</button></a>
{% endif %}
{% endblock %}
