{% extends 'argot/default_header.html' %}

{% block content %}

<h1>Select Word List to track</h1>
<table>
  <th align='center'>List Name</th>
  <th>Number of Words</th>
{% for word_list in word_lists %}
  <tr>
    <td><a href="/dictionary/word_list/{{ word_list.id }}/">{{ word_list.list_name }}</a></td>
    <td align='center'>{{ word_list.word_list_length }}</td>
    {% if word_list.entries_list|length > 5 %}
      <td align='center'><a href='/dictionary/word_list/{{word_list.id}}/play_game'>Practice Words</a></td>
    {% endif %}
    <td align='center'><a href='/dictionary/word_list/delete/{{word_list.id}}'>Delete List</a></td>
  </tr>
{% endfor %}
</table>
<a href='/dictionary/word_list/create_word_list'><button>Create New Word List</button></a>
<a href='/'><button>Home</button></a>
{% endblock %}
