{% load static %}

<link rel="stylesheet" type="text/css"
      href="{% static 'argot/main_style.css' %}">

<div class='header' align='center'>
  <div class='welcome_msg'>Welcome to argot!</div>
  {% if user.is_authenticated %}
    <div id='login_status'>Username: {{user.username}}
      <a href="/user_logout"><button class='btn'>Logout</button></a>
    </div>
  {% else %}
  <div id='login_status'>
      <form id='login_form' method='POST' action="{% url 'user_login' %}">
        {% csrf_token %}
        Username: {{ form.username }}<input type="text" name='username'/>
        Password: {{ form.password }}<input type="password" name="password"/>
        <input class='btn' id='login' type="submit" value='Login'/>
      </form>
  </div>
  {% endif %}
</div>

<div class="wrapper">
  <div class='content'>
  {% block content %}
  {% endblock %}
  </div>
</div>
