{% load static %}

<link rel="stylesheet" type="text/css"
      href="{% static 'argot/style.css' %}">


<h1>Welcome to argot!</h1>

<p>Have you ever read a book with a lot of words you don't know the meaning of?
   You look up the obsecure word and minutes later you have already forgotten
   what the word meant. Argot allows you to keep track of what word you looked
   up and the work that you looked it up from. Argot also offers a number of
   curated lists to help you study for the GRE or get familiar with the
   vocabulary of book.
   <p>&nbsp;</p>
   <form action='' method='GET'>
   Look Up A Word: <input type="text" name="search_string" placeholder="Enter a word..."/>
   <input type="submit" value='search'/>
   </form>
   <p>&nbsp;</p>
   Word List to Checkout:
   <p>&nbsp;</p>
   {% if user.is_authenticated %}
   Click here to browse your word lists
   {% else %}
     <form method='POST' action="{% url 'user_login' %}">
       {% csrf_token %}

       Username: {{ form.username }}<input type="text" name='username'>
       <p></p>
       Password: {{ form.password }}<input type="password" name="password" >
       <input type="submit" value='Login'/>
      </form>
      <p>&nbsp;</p>
      <p>Haven't made an account yet? Sign up <a href="/register"> here</a></p>
 {% endif %}

</p>
