{% extends 'argot/default_header.html' %}

{% block content %}

<h1>Looks like something went wrong when trying to register</h1>
{% if form.errors %}
  <ul>

  {% for field in form %}
      {% for error in field.errors %}
          <div class="alert alert-danger">
              <li>{{ error|escape }}</li>
          </div>
      {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
          <li>{{ error|escape }}</li>
      </div>
  {% endfor %}
  </ul>
{% endif %}

<a href='/register'>Back to registration</a>
{% endblock %}
