{% extends 'argot/default_header.html' %}

{% block content %}

<h1> Sign up to keep track of word lists you create </h1>
<p>Usernames must be between 4 and 30 characters.
  <p></p>
  Passwords must be between 8 and 20 characters, contain a number, and contain
  one of the following characters !@#$%^&*.
</p>
<form method='POST' action="{% url 'register' %}">
  {% csrf_token %}

  <strong>Username:</strong> {{ form.username }}<input type="text" name='username' maxlength="30">
  <p></p>
  <strong>Password:</strong>  {{ form.password }}<input type="password" name="password" maxlength="20">
  <p></p>
  <strong>Confirm Password:</strong>  {{ form.password2 }}<input type="password" name="password2" maxlength="20">
  <input class='btn' type="submit" value='Register'/>
 </form>
 {% endblock %}
